/* color palette from <https://github.com/vuejs/theme> */

@theme {
  --color-gray-dark: #b4b4b4;
  --color-gray-white: #646464;
  --color-gray-white2: #d9d9d9;
  --color-gray-dark2: #3a3a3a;
  --font-serif: 'Source Serif 4', serif;
  --font-mono: 'Geist', sans-serif;
}
